<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854146123452-pvh4nkhbc36951isacoavri9jbj9hmro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854146123452-pvh4nkhbc36951isacoavri9jbj9hmro</string>
	<key>API_KEY</key>
	<string>AIzaSyChkxkBjfYfuKCe1XR8xdJ-fNRf617_fPk</string>
	<key>GCM_SENDER_ID</key>
	<string>854146123452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TyMartin.Codenames</string>
	<key>PROJECT_ID</key>
	<string>codenames-6f190</string>
	<key>STORAGE_BUCKET</key>
	<string>codenames-6f190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854146123452:ios:03dde9fc757ae0642732b9</string>
	<key>DATABASE_URL</key>
	<string>https://codenames-6f190.firebaseio.com</string>
</dict>
</plist>